# Project information
site_name: Maling IT
site_url: https://maling-it.github.io/
site_author: Zxce3
site_description: >-
  MalingIT adalah sebuah komunitas yang didirikan pada 22 Februari 2021 di telegram.
  Pada awalnya maling-it didirikan untuk mengumpulkan pdf atau ebook tentang programming dan komputer yang sudah ada di beberapa channel telegram yang membahas hal tersebut.
  Selanjutnya pada 18 Mei 2021 Maling-it menambahkan bot untuk mempermudah pencarian file yang dikirim ke channel telegram. 
  itu adalah sejarah singkatnya dari maling-it, 
  sebenarnya ceritanya cukup panjang dan mungkin akan di update lagi di kemudian hari.

# Repository
repo_name: maling-it/maling-it.github.io
repo_url: https://github.com/maling-it/maling-it.github.io
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2022 MalingIT

# Configuration
theme:
  name: null
  custom_dir: !ENV [THEME_DIR, "theme"]
  icon:
    repo: fontawesome/brands/github
  # Static files
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: id
  features:
    - announce.dismiss
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.indexes
    - navigation.instant
    # - navigation.prune
    # - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: red
      accent: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: red
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: Ubuntu
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: material/bookshelf

# Plugins
plugins:
  - search
  - redirects:
      redirect_maps:

  - minify:
      minify_html: true
  - git-revision-date-localized:
      enable_creation_date: true
  - git-authors
  - git-committers:
      repository: maling-it/maling-it.github.io
      branch: main

# Customization
extra:
  generator: false
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/maling-it
    - icon: fontawesome/brands/gitter
      link: https://gitter.im/maling-it
    - icon: fontawesome/brands/telegram
      link: https://t.me/maling-it
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/Zxce3_

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: maling-it
      repo: maling-it.github.io
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
# Page tree
nav:
  - Pengenalan: index.md
  - Belajar: 
    - Belajar: belajar/index.md
    - Git V1: 
      - Git V1: belajar/git/index.md
      - (VSC) Version Control: belajar/git/version-control.md
      - Sejarah Singkat: belajar/git/sejarah-singkat.md
      - Dasar-dasar Git: belajar/git/dasar-git.md
      - Command Line: belajar/git/command-line.md
      - Instalasi Git: belajar/git/install-git.md
      - Pengaturan Awal Git: belajar/git/mengatur-git.md
      - Bantuan: belajar/git/bantuan.md
      - Kesimpulan: belajar/git/kesimpulan.md
    - Shell:
      - Shell: belajar/shell/index.md
      - Hello World: belajar/shell/hello-world.md
      - Variabel: belajar/shell/variabel.md
      - Variabel Spesial: belajar/shell/variabel-spesial.md
      - Operator: belajar/shell/operator.md
      - Operasi Aritmatika: belajar/shell/operasi-aritmatika.md
      - BC Command: belajar/shell/bc-command.md
      - Instruksi Logika: belajar/shell/instruksi-logika.md
      - User Input: belajar/shell/user-input.md
      - Array: belajar/shell/array.md
      - Loops: belajar/shell/loops.md
      - Break: belajar/shell/break.md
      - Continue: belajar/shell/continue.md
      - Funtions: belajar/shell/funtions.md
      - Enviroment Variabels: belajar/shell/enviroment-variable.md
      - Operasi File: belajar/shell/operasi-file.md
      - Operasi Folder: belajar/shell/operasi-folder.md
      - Izin File: belajar/shell/izin-file.md
      - Shebang: belajar/shell/shebang.md

  - Komunitas: komunitas.md
  - Kontak: kontak.md