<nav class="navbar bg-dark-dm bg-light-lm navbar-static-bottom border-top">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="{{ '/info' | relative_url }}" class="nav-link">Info</a>
    </li>
  </ul>
  <span class="navbar-text">
    &copy; {{ 'now' | date: "%Y" }}, {{ site.title }}
  </span>
</nav>