<div class="col-12 col-md-6 col-lg-4">
    <a href="{{ p.url }}" class="card shadow-lg rounded-2 text-decoration-none text-muted mw-full m-5 p-0 d-flex">
        <div class="flex-grow-1 {{ p.status }} d-flex align-items-center position-relative m-5 h-120">
            <div class="p-10 w-full m-auto">
                <p class="font-size-10 text-dark-lm text-light-dm m-0 mb-5 text-truncate font-weight-medium">
                    {{ p.title | capitalize }}
                </p>
                <p class="font-size-12 mt-5 mb-0">
                    {{ p.content | excerpt | strip_html | truncate: 80 }}
                </p>
            </div>
        </div>
        <br/>
        <div class="position-absolute som">
            <p class="badge">{{ p.date | date_to_string }}</p>
        </div>
    </a>
</div>
