{% capture result_elem %}
<a class="sidebar-link" href="{url}"><span class="text-success">#</span> {title}</a>
{% endcapture %}


{% capture not_found %}<a class="sidebar-link text-muted"><span class="text-danger">Oops!</span> Tidak ditemukan.</a>{%
endcapture %}

<script src="https://cdn.jsdelivr.net/gh/zxce3/zxce3/js/jss.min.js"></script>
<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('search-results'),
    json: '{{ '/api/search.json' | relative_url }}',
    searchResultTemplate: '{{ result_elem | strip_newlines }}',
    noResultsText: '{{ not_found }}',
    templateMiddleware: function (prop, value, template) {
      if (prop === 'categories') {
        if (value === '') {
          return `${value}`;
        } else {
          return `${value}`;
        }
      }

      if (prop === 'tags') {
        if (value === '') {
          return `${value}`;
        } else {
          return `<div><i class="bi bi-bookmark"></i>${value}</div>`;
        }
      }
    }
  });
</script>