
    <div class="sidebar-overlay" onclick="zxce3.toggleSidebar()"></div>
    <div class="sidebar">
      <div class="sidebar-menu">
        <div class="sidebar-content">
          <input id="search-input" type="search" aria-label="search" autocomplete="off" class="form-control border form-control-lg bg-dark-dm bg-light-lm" placeholder="🔍 Cari disini" type="text" class="form-control" placeholder="Search">
        </div>
        <h5 class="font-weight-bolder sidebar-title">Pages <a href="#" class="ml-5 text-decoration-none">#</a></h5>
        {% for page in site.pages limit:3 %}
        <a href="{{ page.url | relative_url }}" class="sidebar-link">{{ page.title | capitalize }}</a>        
        {% endfor %}
        <br />
        <h5 class="font-weight-bolder sidebar-title">Blog <a href="{{ '/all/' | relative_url }}" class="ml-5 text-decoration-none">#</a></h5>
        <div class="sidebar-divider"></div>
        {% for cat in site.categories %}
        <a href="{{cat | first | relative_url}}/" class="sidebar-link">{{ cat | first | replace: 'js', 'javascript' | replace: 'nodejavascript', 'nodejs'  | capitalize }}</a>
        {% endfor %}
        <br />
  <br />
</div> 
</div>