
/*TOC*/
#toc {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 85px;
    padding-bottom: 85px;
    width: 174px;
    transition: padding-top 200ms ease-in;
}

#toc a {
    display: block;
}

#toc.is-fixed {
    padding-top: 120px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#toc .top_links {
    margin-bottom: 15px
}

#toc .top_links a {
    display: block;
    padding: 3px 0;
    font-family: "webfont_alright";
    font-weight: 300;
    font-size: 1.6rem;
    color: #8F8F8F
}

#toc .top_links a:after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 15px;
    height: 13px
}

#toc .ui_live_toc {
    height: calc(100vh - (85px + 35px) - 20px);
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "webfont_alright";
    font-weight: 300;
    font-size: 1.6rem;
    text-transform: capitalize
}

#toc .ui_live_toc ul {
    padding: 0;
    margin: 0;
    list-style: none
}

#toc .ui_live_toc .ui_live_toc_major_list:empty {
    display: none !important
}

#toc .ui_live_toc>li>a {
    padding: 3px 0;
    color: #66637A
}

#toc .ui_live_toc>li>ul {
    margin: 5px 0 7px;
    display: none;
    padding-left: 10px;
    border-left: 2px solid #F3F3F5
}

#toc .ui_live_toc>li>ul>li>a {
    color: #8F8F8F;
    font-size: 1.4rem;
    padding: 3px 0
}

#toc .ui_live_toc>li>ul>li>ul {
    display: none;
    margin: 10px 0;
    background-color: #F3F3F5;
    border-radius: 4px;
    padding: 8px
}

#toc .ui_live_toc>li>ul>li>ul:empty {
    display: none
}

#toc .ui_live_toc>li>ul>li>ul>li>a {
    font-size: 1.2rem;
    padding: 1px 0
}

#toc .ui_live_toc>li.selected>a,
#toc .ui_live_toc>li .selected>a {
    font-weight: 700;
    color: #169CEE
}

#toc .ui_live_toc>li.selected>ul,
#toc .ui_live_toc>li .selected>ul {
    display: block
}

@media (min-width: 760px) {
    #toc {
        display: block
    }
}

#mobile_toc {
    position: relative;
    display: none
}

#mobile_toc.is-fixed {
    width: 100%;
    min-width: 320px;
    opacity: 0
}

#mobile_toc:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7.5px 0 7.5px;
    border-color: #E0E0EA transparent transparent transparent
}

#mobile_toc select {
    appearance: none;
    width: 100%;
    border: 0;
    height: 50px;
    text-align: center;
    background-color: #FDFAFB;
    outline: 0;
    font-size: 1.8rem;
    font-family: "webfont_alright";
    font-weight: 700;
    color: #169CEE;
    padding-left: 20px;
    padding-right: 50px;
    border-radius: 0;
    border-bottom: 2px solid #E0E0EA
}

@media (max-width: 759px) {
    #mobile_toc {
        display: block
    }

    .site__header.has-fixed-docs-select {
        height: 105px
    }
}

/* ZC window */

.zc-window .zc-window-top-row {
    /* padding: 1rem 0rem 0rem 1rem; */
    margin-right: 1rem;
    background-color: #ecf0f1;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.dark-mode .zc-window .zc-window-top-row {
    background-color: rgb(26 29 36 / 78%);
}

.zc-window-home .zc-window-home-top-row {
    padding: 1rem 0rem 0rem 1rem;
    background-color: #ecf0f1;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.dark-mode .zc-window-home .zc-window-home-top-row {
    background-color: rgb(26 29 36 / 78%);
}

.zc-button {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    -webkit-appearance: none;
}

.zc-button:hover {
    width: 2rem;
    height: 2rem;
}

.zc-button:after {
    content: "\200b";
}

.zc-content {
    height: 1.4rem;
    background-color: #ecf0f1;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 1rem;
    border-radius: 0.2rem;
}

.dark-mode .zc-content {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.025);
}

.zc-content:after {
    content: "\200b";
}

.zc-content:last-child {
    margin-bottom: 0;
}

.docs-cards-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom-color: transparent;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

@media (max-width: 576px) {
    .card.card-w-full-xs .docs-cards-container {
        border-radius: 0;
        border-right: none;
        border-left: none;
    }
}