---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.liquid %}

<body class="dark-mode with-custom-webkit-scrollbars with-custom-css-scrollbars" data-set-preferred-mode-onload="true"
	data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true">
	{% include sidebar-right.liquid %}
	<div class="page-wrapper with-sidebar with-navbar bg-dark-dm bg-light-lm  with-transitions"
		data-sidebar-type="overlayed-sm-and-down">
		{% include sidebar.liquid %}
		{% include navbar.liquid %}
		{% include sticky-alert.liquid %}
		<div class="content-wrapper">
			<div class="container-fluid">
				<div class="container-lg h-full">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
	{% include js-script.liquid %}
</body>

</html>