---
layout: default
---
<div class="content-wrapper zxbg">
<div class="container-fluid">
<div class="container-lg h-full">
    <div id="top"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card border-0 bg-light-lm p-0">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="content" class="content">
                    <h1 role="heading" aria-level="1" class="text-center font-weight-bold font-size-24 entry-title content-title">{{ page.title }}</h1>
                             <div class="text-center ml-0">
                                <i class="bi bi-calendar-event mr-5"></i> {{ page.date | date_to_string }} - <a class="text-reset text-decoration-none" href="{{ '/info' | relative_url }}/{{ page.author }}"><i class="bi bi-person"></i> {{ page.author | capitalize }}</a>
                                {% include sharing.html %}
                            </div>
                                <hr class="border-bottom">
                                    <div class="post-content">
                                      <div class="content border-bottom hidden-lg-and-up">
                                        <h2 class="content-title">Table of content</h2>
                                        {% toc %}
                                      </div>
                                      <div class="content">
                                      {% include defcontent.html content=content %}
                                          
                                      </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card m-0 border-0 shadow-lg">
                                <script src="https://giscus.app/client.js"
        data-repo="maling-it/maling-it.github.io"
        data-repo-id="R_kgDOHB1aJQ"
        data-category="Q&A"
        data-category-id="DIC_kwDOHB1aJc4CQslG"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="id"
        crossorigin="anonymous"
        async>
</script>
</div>
                                {% include navigate.html %}
                            </div>
                            <div class="col-lg-4">
                                <div class="content position-lg-sticky top-lg-0 left-lg-0 py-card my-0">
                                      <div class="content m-5 border-bottom hidden-md-and-down">
                                        <h2 class="content-title">Table of content</h2>
                                        {% toc %}
                                      </div>
                                    {% include trending-post.html %}
                                    {% include trending-tags.html %}
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                </div>
            </div>
                    {% include footer.html %}

        </div>
  </div>
</div>